<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CatogeryServlet</display-name>
    <servlet-name>CatogeryServlet</servlet-name>
    <servlet-class>Luuloneranger.servlet.CatogeryServlet</servlet-class>
    <multipart-config>
      <location>C:/uploads</location>
      <max-file-size>5242880</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatogeryServlet</servlet-name>
    <url-pattern>/CatogeryServlet</url-pattern>
  </servlet-mapping>
  <display-name>Project-Alone</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Luuloneranger.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Luuloneranger.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDaoImpl</display-name>
    <servlet-name>UserDaoImpl</servlet-name>
    <servlet-class>Luuloneranger.dao.UserDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDaoImpl</servlet-name>
    <url-pattern>/UserDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditProfile</display-name>
    <servlet-name>UserEditProfile</servlet-name>
    <servlet-class>Luuloneranger.servlet.UserEditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditProfile</servlet-name>
    <url-pattern>/UserEditProfile</url-pattern>
  </servlet-mapping>
</web-app>